.message__scroll{
    position: relative;
    box-sizing: border-box;
    width: 22px;
    height: 437px;
    margin-right: 12px;
    overflow: auto;
}

.message__scroll::-webkit-scrollbar {
    width: 21px;
}

.message__scroll::-webkit-scrollbar-thumb {
    width: 20px;
    background-color: #cf578d;
    border-radius: 10px;
}