.second-advantage__text {
    font-family: 'DINPro', 'Arial', 'sans-serif';
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    max-width: 135px;
    width: 100%;
    padding: 23px 40px;
}