.popup__close-btn {
    background-image: url('../../../images/third-page/btn-close.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 30px;
    right: 60px;
}