.home-page__btn {
    display: flex;
    align-items: center;
    background-color: #ff6a9f;
    border: none;
    border-radius: 40px;
    position: absolute;
    bottom: 221px;
    right: 109px;
    font-family: DINPro,Arial,"sans-serif";
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 287px;
    width: 100%;
    padding: 17px 19px;
}